<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Getting Started: Handing Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Получение списка доступных рейсов</h1>
<form method="post" action="/getFlights">
    <input type="text" name="departureAirport" placeholder="Enter departure airport"></br>
    <input type="text" name="arrivalAirport" placeholder="Enter arrival airport"></br>
    <input type="text" name="arrivalDate" placeholder="Enter arrival date"></br>
    <button type="submit">Display available flights</button>
</form>
</body>
</html>